{% extends 'layout.html' %}
{% load static %}
{% block title %} Материалы C++ {% endblock %}
{% block style %}<link rel="stylesheet" type="text/css" href="{% static 'style/python.css' %}">{% endblock %}
{% block content %}
<div class="list">
    <div class="head">
        <h2>Python</h2>
        <p><i>В этом отделе опубликованы заметки, статьи и небольшие лайфхаки по математике на Python</i></p>
    </div>
    <div class="article">
       <h5>Построение гафиков (база)</h5>
        <p>
            В этой статье показаны основные принципы и методы построения графиков на Python, используя библиотеки matplotlib
            и numpay. Если вы ни разу не строили графики, используя эти библиотеки, советуем ознакомиться с данным материалом,
            прежде чем приступать к прочетнию других статей.
            <a href="/notes/graph1">Открыть статью</a>
        </p>
    </div>
    <div class="article">
       <h5>Конвертер imgToPDF Python</h5>
        <p>
            Данный скрипт считывает все файлы из заданной папки, обрабатывает изображения (меняет яркость и контрастность),
            затем сохранят все обработанные изображения в другую папку. Далле он все конвертирует в PDF и склеивает.
            На выходе получается PDF файл из улучшенных изображений.
            <a href="/notes/graph1">Открыть статью</a>
        </p>
    </div>
</div>
<div class="map">
    <h3>Картa отдела:</h3>
    <ul>
        <li><a class="elem" href="#">Построение гафиков (база)</a></li>
        <li><a class="elem" href="#">Конвертер imgToPDF Python</a></li>
    </ul>
</div>



{% endblock %}