{% extends 'layout.html' %}
{% load static %}
{% block title %} LaTex {% endblock %}
{% block style %}<link rel="stylesheet" type="text/css" href="{% static 'style/python.css' %}">{% endblock %}
{% block content %}
<div class="list">
    <div class="head">
        <h2>LaTex</h2>
        <p><i>В этом отделе опубликованы заметки, статьи и небольшие лайфхаки по LaTeX</i></p>
    </div>
    <div class="article">
       <h5>Отчёт в LaTeX</h5>
        <p>
            Эта статья написана для быстрого старта написания отчёта по лабораторным работам. Рассматриваются основные проблемы, примеры реализаций, а также
            представлен полный листинг кода .tex как пример реализации...<br>
            <a href="/notes/LaTexStat1">Открыть статью</a>
        </p>
    </div>
    <div class="article">
       <h5>Рисование фигур с пакетом TikZ</h5>
        <p>
            TikZ - это отличный инструмент для создания изображений в LaTeX. В данной статье собраны основные примеры рисования фигур и графиков, а также
            их последующая кастомизация...<br>
            <a href="/notes/latex_tikz">Открыть статью</a>
        </p>
    </div>
</div>
<div class="map">
    <h3>Картa отдела:</h3>
    <ul>
        <li><a class="elem" href="#">Отчёт в LaTeX</a></li>
        <li><a class="elem" href="#">Фигуры в TikZ</a></li>
    </ul>
</div>


{% endblock %}