a {
    text-decoration: none;
}


.skob {
    color: var(--color);
    font-size: 120%;
}


.labs {
    width: 50%;
    background-color: #c9c9c9;
}


.preview {
    position: fixed;
    right: 100px;
    top: 60px;
    width:500px;
}
