a {
    text-decoration: none;
}


.skob {
    color: var(--color);
    font-size: 120%;
}

.elem {
    color: black;
    display: inline-block
}

.labs {
    width: 50%;
    background-color: #c9c9c9;
}

.elem:after {
    display: block; /*превращаем его в блочный элемент*/
    content: ""; /*контента в данном блоке не будет поэтому в кавычках ничего не ставим*/
    height: 1px; /*задаём высоту линии*/
    width: 0%; /*задаём начальную ширину элемента (линии)*/
    background-color: var(--color); /*цвет фона элемента*/
    transition: width 0.2s ease-in-out; /*данное свойство отвечает за плавное изменение ширины. Здесь можно задать время анимации в секундах (в данном случае задано 0.4 секунды)*/
}
.elem:hover:after,
.elem:focus:after {
width: 100%;
}
.elem:hover{
color:var(--color);
}

.preview {
    position: fixed;
    right: 100px;
    top: 60px;
    width:500px;
}
