:root {
  --color: red;
}

.backgroundleft{
    width: 50%;
    height: 100%;
    position:fixed;
    bottom: 0px;
    left:0px;
    background-image: url(/static/image/ba.png); /* Путь к фоновому изображению */
    background-repeat: no-repeat;
    background-position: left bottom;
    background-attachment: fixed;
}
body {
    background-image: url(/static/image/ba.png); /* Путь к фоновому изображению */
    background-repeat: no-repeat;
    background-position: left center;
    background-attachment: fixed;
    background-image: url(/static/image/backright.png); /* Путь к фоновому изображению */
    background-repeat: no-repeat;
    background-position: right center;
    background-attachment: fixed;
}

.content{
    position: relative;
    left: 15%;
    width: 70%;
    letter-spacing: 0.02em;
}



.nav-link {
    color: black;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: var(--color);
    margin: 5px;
    text-transform: uppercase;
    font-size: 90%;
    letter-spacing: 0.05em;
}

/*.nav-link:hover {
    background-color: var(--color);
    color: white;
}*/

.navbar-brand {
    text-transform: uppercase;
    font-size: 110%;
    letter-spacing: 0.05em;
}



.stc {
    position: sticky;
    z-index: 2;
    top: 0%;
}

nav {
  background: #fff;
}
nav ul {
  list-style: none;
  text-align: center;
}
nav ul li.nav-item {
  display: inline-block;
}
nav ul li a.nav-link {
  display: block;
  margin: 0 10px;
}
nav ul li a.nav-link,
nav ul li a.nav-link:after,
nav ul li a.nav-link:before {
  transition: all .2s;
}
nav ul li a.nav-link:hover {
  color: black;
}

/* SHIFT */
nav.shift ul li a.nav-link {
  position:relative;
  z-index: 1;
}
nav.shift ul li a.nav-link:hover {
  color: white;
}
nav.shift ul li a.nav-link:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 1px;
  content: '.';
  color: transparent;
  background: var(--color);
  visibility: none;
  opacity: 0;
  z-index: -1;
}
nav.shift ul li a.nav-link:hover:after {
  opacity: 0.6;
  visibility: visible;
  height: 100%;
}


.dropdown-menu {
    border-radius: 5px !important;
    border-color: var(--color) !important;
}

.dropdown-item:hover {
    background-color: var(--color) !important;
    color: white !important;
    opacity: 0.6;
}

.elem {
    color: black;
    display: inline-block
}

.elem:after {
    display: block; /*превращаем его в блочный элемент*/
    content: ""; /*контента в данном блоке не будет поэтому в кавычках ничего не ставим*/
    height: 1px; /*задаём высоту линии*/
    width: 0%; /*задаём начальную ширину элемента (линии)*/
    background-color: var(--color); /*цвет фона элемента*/
    transition: width 0.2s ease-in-out; /*данное свойство отвечает за плавное изменение ширины. Здесь можно задать время анимации в секундах (в данном случае задано 0.4 секунды)*/
}
.elem:hover:after,
.elem:focus:after {
width: 100%;
}
.elem:hover{
color:var(--color);
}

@media (min-width:700px){
    .carousel{
        display: block;
    }
}

@media (max-width:700px){
    .content {
        width: 100%;
        left: 0px;
        padding: 10px;
    }
}