.container {
    display: flex;
    justify-content: space-around;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: var(--color);
    margin-bottom: 50px;
    margin-top: 25px;
}


.carousel {
    width: 350px;
    height: 620px;
}

.we {
    width: 300px;
}

#Icons {
    width: 50px;
}

svg {
    margin: 5px;
}

#ph {
    right: 0px;
    width: 200px;
}

img {
    border-radius: 5px;
}

.letter {
    font-size: 110%;
    letter-spacing: 0.02em;
    padding-top: 10px;
}

.contact{
    font-size: 150%;
}

.vk {
    text-decoration: none;
    color: black;
}