{% extends 'layout.html' %}
{% load static %}
{% block title %} Лабораторные {% endblock %}
{% block style %}<link rel="stylesheet" type="text/css" href="{% static 'style/labs.css' %}">{% endblock %}
{% block content %}
<div class="labs">
    <div class="hop curs curs3">
        <h3>3 Курс </h3>
        <div class="curs tk">
            <h4>Кафедра теории колебаний</h4>
            <ul class="rounded-list">
                <li><a class="link" data-href-file="/static/laboratories/lc_filters4.pdf" href="#">LC фильтры</a></li>
                <li><a class="link" data-href-file="/static/laboratories/Elektr_i_magnet.pdf" href="#" >Фазовая плоскость лампового генератора</a></li>
            </ul>
        </div>
        <div class="hop curs rt">
            <h4>Кафедра Радиотехники</h4>
            <ul class="rounded-list">
                <li><a class="link" href="#" download="newfilename">Лаба</a></li>
                <li><a class="link" href="/static/laboratories/lc_filters4.pdf" download="newfilename">Фазовая плоскость лампового генератора</a></li>
            </ul>
        </div>
    </div>
    <div class="hop curs curs2">
        <h3>2 Курс </h3>
        <h4> Второй семестр</h4>
        <ul class="rounded-list">
            <li><a class="link" data-href-file="/static/laboratories/fraungofers_difraction.pdf" href="#">Дифракция Фраунгофера</a></li>
            <li><a class="link" data-href-file="/static/laboratories/frenel.pdf" href="#">Бипризма Френеля</a></li>
            <li><a class="link" data-href-file="/static/laboratories/longitudinal_waves.pdf" href="#" >Продольные волны</a></li>
            <li><a class="link" data-href-file="/static/laboratories/norenberg312.pdf" href="#" >Прибор Норренберга</a></li>
        </ul>
    </div>
    <div class="hop curs curs1">
        <h3>1 Курс </h3>
        <ul class="rounded-list">
            <li><a class="link" data-href-file="/static/laboratories/1kurs/1.pdf" href="#" >17 - Осциллограф</a></li>
            <li><a class="link" data-href-file="/static/laboratories/1kurs/2.pdf" href="#" >18 - Определение отношения удельных теплоёмкостей воздуха</a></li>
            <li><a class="link" data-href-file="/static/laboratories/1kurs/3.pdf" href="#" >26 - Определение отношения заряда электрона к его массе</a></li>
            <li><a class="link" data-href-file="/static/laboratories/1kurs/4.pdf" href="#" >22 - Определение коэффициента внутреннего трения жидкости</a></li>
            <li><a class="link" data-href-file="/static/laboratories/1kurs/5.pdf" href="#" >116 - Определение вязкости воздуха</a></li>
            <li><a class="link" data-href-file="/static/laboratories/1kurs/6.pdf" href="#" >31 - Некоторые законы случайных событий</a></li>
            <li><a class="link" data-href-file="/static/laboratories/1kurs/7.pdf" href="#" >113 - Маятник Обербека</a></li>
            <li><a class="link" data-href-file="/static/laboratories/1kurs/8.pdf" href="#" >25 - Изучение колебательного движения</a></li>
            <li><a class="link" data-href-file="/static/laboratories/1kurs/9.pdf" href="#" >27 - Изучение законов движения при помощи машины Атвуда</a></li>
            <li><a class="link" data-href-file="/static/laboratories/1kurs/10.pdf" href="#" >10 - Гироскоп</a></li>
        </ul>
    </div>
    <div class="preview">
        <embed id="preview" src="{% static 'laboratories/lc_filters4.pdf' %}" width="700px" height="700px"/>
    </div>
</div>
{% endblock %}

{% block js %}
<script src="/static/javaScript/labs.js">
</script>
{% endblock %}



