{% extends 'layout.html' %}
{% load static %}
{% block title %} Лекции {% endblock %}
{% block style %}<link rel="stylesheet" type="text/css" href="{% static 'style/labs.css' %}">{% endblock %}
{% block content %}
<div class="labs">
     <div>
        <h3> 5 Семестр </h3>
        <ul>
             <li>
                <a href="#" class="drop-locator">
                    <i class="bi bi-caret-down"></i>
                    <i class="bi bi-caret-up"></i>
                    <span class="drop-h">Электродинамика</span>
                </a>
                <ul class="drop rounded-list">
                    <li><a class="link" data-href-file="/static/lections/electrodynamic_lections_1.pdf" href="#">Лекции - часть 1 (2022 г.) - Кудрин А.В.</a></li>

                </ul>
            </li>
        </ul>
    </div>
    <div>
        <h3> 4 Семестр</h3>
        <ul>
            <li>
                <a href="#" class="drop-locator">
                    <i class="bi bi-caret-down"></i>
                    <i class="bi bi-caret-up"></i>
                    <span class="drop-h">Теория вероятностей
                   <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dice-5" viewBox="0 0 16 16">
  <path d="M13 1a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h10zM3 0a3 3 0 0 0-3 3v10a3 3 0 0 0 3 3h10a3 3 0 0 0 3-3V3a3 3 0 0 0-3-3H3z"/>
  <path d="M5.5 4a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm8 0a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0 8a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm-8 0a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm4-4a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
</svg>
                    </span>
                </a>
                <ul class="drop rounded-list">
                    <li><a class="link" data-href-file="/static/lections/terver_lections.pdf" href="#">Лекции (рукописные 2022 г.) - Дубков А.А.</a></li>
                    <li><a class="link" data-href-file="/static/lections/terver_practice.pdf" href="#">Практика + Решение некоторых задач - (рукописные 2022 г.) - Дубков А.А.</a></li>
                    <li><a class="link" data-href-file="/static/lections/terver_gavrilin.pdf" href="#">Задачник - Гаврилин А.Т. / Дубков А.А.</a></li>
                    <li><a class="link" data-href-file="/static/lections/terver_questions.doc" href="#">Вопросы к экзамену (2022 г.)</a></li>
                    <li><a class="link" data-href-file="/static/lections/terver_basic_formulas.pdf" href="#">Основные формулы для экзамена</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="drop-locator">
                    <i class="bi bi-caret-down"></i>
                    <i class="bi bi-caret-up"></i>
                    <span class="drop-h">Колебания, волны и оптика</span>
                </a>
                <ul class="drop rounded-list">
                        <li><a class="link" data-href-file="/static/lections/elektromagnetizm_practice.pdf" href="#">Тетрадь с практики - Грибова Е.З.</a></li>
                        <li><a class="link" data-href-file="/static/lections/optics_zaytcev.pdf" href="#">Решение некоторых задач по оптике (с github Зайцев)</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="drop-locator">
                    <i class="bi bi-caret-down"></i>
                    <i class="bi bi-caret-up"></i>
                    <span class="drop-h">Методы математической физики</span>
                </a>
                <ul class="drop rounded-list">
                        <li><a class="link" data-href-file="/static/lections/mmf_lections_smirnov.pdf" href="#">Лекции для РФ - Смирнов И.П.</a></li>
                        <li><a class="link" data-href-file="/static/lections/mmf_program_lections.pdf" href="#">Программа лекций - Солдатов И.Н.</a></li>
                        <li><a class="link" data-href-file="/static/lections/mmf_uchebnik_vladimirov.pdf" href="#">Учебник по ММФ - Владимиров В.С.</a></li>
                        <li><a class="link" data-href-file="/static/lections/mmf_zadachnik_vladimirov.pdf" href="#">Задачник - Владимиров В.С.</a></li>
                        <li><a class="link" data-href-file="/static/lections/mmf_questions.pdf" href="#">Вопросы к экзамену (2022 г.) - Солдатов И.Н.</a></li>
                        <li><a class="link" data-href-file="/static/lections/mmf_otveti.pdf" href="#">Ответы на вопросы (рукописные 2022 г.)</a></li>
                        <li><a class="link" data-href-file="#" href="https://youtube.com/playlist?list=PLcsjsqLLSfNBxv7zAg_RQoAP9MAIZpCwz">Лучше смотреть по практике (часть 1) - Горицкий А.Ю.</a></li>
                        <li><a class="link" data-href-file="#" href="https://youtube.com/playlist?list=PLcsjsqLLSfNDc7MN2eCm1r54x_WspgAze">Лучше смотреть по практике (часть 2) - Горицкий А.Ю.</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="drop-locator">
                        <i class="bi bi-caret-down"></i>
                        <i class="bi bi-caret-up"></i>
                        <span class="drop-h">Интегралы, зависящие от параметра</span>
                </a>
                <ul class="drop rounded-list">
                        <li><a class="link" data-href-file="/static/lections/intparam_lections.pdf" href="#">Лекции (рукописные 2022 г.) - Дубков А.А.</a></li>
                        <li><a class="link" data-href-file="/static/lections/intparam_practice.pdf" href="#">Практика (2022 г.) - Дубков А.А.</a></li>
                        <li><a class="link" data-href-file="/static/lections/intparam_laplas.pdf" href="#">Методичка по преобразованию Лапласа - Дубков А.А.</a></li>
                        <li><a class="link" data-href-file="/static/lections/intparam_zachet.pdf" href="#">Задачи с зачёта (2022 г.) - Дубков А.А.</a></li>
                        <li><a class="link" data-href-file="/static/lections/intparam_secret.pdf" href="#">Решение некоторых задач с зачёта</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="drop-locator">
                        <i class="bi bi-caret-down"></i>
                        <i class="bi bi-caret-up"></i>
                        <span class="drop-h">Теоретическая механика</span>
                </a>
                <ul class="drop rounded-list">
                        <li><a class="link" data-href-file="/static/lections/termeh_lections.pdf" href="#">Лекции (рукописные 2022 г.) - Канаков О.И.</a></li>
                        <li><a class="link" data-href-file="/static/lections/termeh_practice.pdf" href="#">Практика (2022 г.) - Канаков О.И.</a></li>
                        <li><a class="link" data-href-file="/static/lections/termeh_metodichka.pdf" href="#">Методичка (по которой читают лекции) - Канаков О.И.</a></li>
                        <li><a class="link" data-href-file="/static/lections/termeh_plan.doc" href="#">Учебный план (+ вопросы к экзамену 2022 г.) - Канаков О.И.</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="drop-locator">
                        <i class="bi bi-caret-down"></i>
                        <i class="bi bi-caret-up"></i>
                        <span class="drop-h">Методы алгоритмизации и программирования (C++)</span>
                </a>
                <ul class="drop rounded-list">
                        <li><a class="link" data-href-file="/static/lections/maap_rectint.rar" href="#">Отчёт по многопоточному программированию (на примере вычисления интеграла) - Щербак А.О.</a></li>
                        <li><a class="link" data-href-file="/static/lections/maap_matrixop.rar" href="#">Отчёт по перемножению матриц - Щербак А.О.</a></li>

                </ul>
            </li>
        </ul>
    </div>

    <div>
        <h3> 3 Семестр </h3>
        <ul>
             <li>
                <a href="#" class="drop-locator">
                    <i class="bi bi-caret-down"></i>
                    <i class="bi bi-caret-up"></i>
                    <span class="drop-h">Электричсетво и магнетизм</span>
                </a>
                <ul class="drop rounded-list">
                    <li><a class="link" data-href-file="/static/lections/elektromagnetizm_practice.pdf" href="#">Тетрадь с практики - Грибова Е.З.</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="drop-locator">
                    <i class="bi bi-caret-down"></i>
                    <i class="bi bi-caret-up"></i>
                    <span class="drop-h">Теория функций комплексного переменного</span>
                </a>
                <ul class="drop rounded-list">
                    <li><a class="link" data-href-file="/static/lections/tfcp_lections.pdf" href="#">Лекции (рукописные 2021 г.) - Лапинова C.А.</a></li>
                    <li><a class="link" data-href-file="/static/lections/tfcp_practice.pdf" href="#">Практика (рукописные 2021 г.) - Лапинова C.А.</a></li>
                    <li><a class="link" data-href-file="http://read.newlibrary.ru/read.php/pdf=15234" href="#">Учебник (по которому читают лекции) - ТФКП Свешников А.Г. / Тихонов А.Н.</a></li>
                    <li><a class="link" data-href-file="/static/lections/tfcp_ryadi_semerikova.pdf" href="#">Методичка по рядам - Семерикова Н.П.</a></li>
                    <li><a class="link" data-href-file="/static/lections/tfcp_vicheti_semerikova.pdf" href="#">Методичка по вычетам - Семерикова Н.П.</a></li>
                    <li><a class="link" data-href-file="/static/lections/tfcp_exam.pdf" href="#">Задачи с экзамена (2021 г.) - Лапинова С.А.</a></li>
                    <li><a class="link" data-href-file="/static/lections/tfcp_questions.doc" href="#">Вопросы к экзамену (2021 г.) - Лапинова С.А.</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="drop-locator">
                    <i class="bi bi-caret-down"></i>
                    <i class="bi bi-caret-up"></i>
                    <span class="drop-h">Векторный и тензорный анализ</span>
                </a>
                 <ul class="drop rounded-list">
                    <li><a class="link" data-href-file="/static/lections/vta_lections.pdf" href="#">Лекции (рукописные 2021 г.) - Дубков А.А</a></li>
                    <li><a class="link" data-href-file="/static/lections/vta_lections_distance.pdf" href="#">Лекции (половина дистанционных 2021 г.) - Дубков А.А.</a></li>
                    <li><a class="link" data-href-file="/static/lections/vta_lections_distance.pdf" href="#">Лекции (пособие) - Кошелев В.Н.</a></li>
                    <li><a class="link" data-href-file="/static/lections/vta_practice.pdf" href="#">Практика (рукописные 2021 г.) - Дубков А.А.</a></li>
                    <li><a class="link" data-href-file="/static/lections/vta_metodichka_koshelev.pdf" href="#">Методичка - Кошелев В.Н.</a></li>
                    <li><a class="link" data-href-file="/static/lections/vta_metodichka_tenzori.pdf" href="#">Методичка по тензорам - Кошелев В.Н.</a></li>
                    <li><a class="link" data-href-file="/static/lections/vta_exams.doc" href="#">Вопросы к экзамену (2021 г.) - Дубков А.А.</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="drop-locator">
                        <i class="bi bi-caret-down"></i>
                        <i class="bi bi-caret-up"></i>
                        <span class="drop-h">Методы алгоритмизации и программирования</span>
                </a>
                <ul class="drop rounded-list">
                        <li><a class="link" data-href-file="/static/lections/Antikuznecov.rar" href="#">Решение домашних задачек - Кузнецов А.Б.</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="drop-locator">
                    <i class="bi bi-caret-down"></i>
                    <i class="bi bi-caret-up"></i>
                    <span class="drop-h">Философия</span>
                </a>
                 <ul class="drop rounded-list">
                    <li><a class="link" data-href-file="https://mozilla.github.io/pdf.js/web/viewer.html?file=https://raw.githubusercontent.com/rf-slf-4x1/site_materials/main/philosophy/%D0%A8%D0%BF%D0%B0%D1%80%D0%B3%D0%B0%D0%BB%D0%BA%D0%B0%20-%20%D1%80%D0%B0%D1%81%D1%88%D0%B8%D1%80%D0%B5%D0%BD%D0%BD%D0%B0%D1%8F.pdf" href="#">Шпоргалка к экзамену (rf-slf)</a></li>
                     <li><a class="link" data-href-file="/static/lections/filosofia_metodichka.pdf" href="#">Методичка для радиофака</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="">
        <h3> 2 Семестр</h3>
        <ul>
            <li>
                <a href="#" class="drop-locator">
                    <i class="bi bi-caret-down"></i>
                    <i class="bi bi-caret-up"></i>
                    <span class="drop-h">Молекулярная физика</span>
                </a>
                <ul class="drop rounded-list">
                    <li><a class="link" data-href-file="/static/lections/molekular_lections.pdf" href="#">Лекции (рукописные 2021 г.) - Бакунов М.И.</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="drop-locator">
                    <i class="bi bi-caret-down"></i>
                    <i class="bi bi-caret-up"></i>
                    <span class="drop-h">Кратные ряды и интегралы</span>
                </a>
                <ul class="drop rounded-list">
                    <li><a class="link" data-href-file="/static/lections/ma_lections_sem2.pdf" href="#">Лекции (рукописные 2021 г.) - Минаева О.Н.</a></li>
                    <li><a class="link" data-href-file="/static/lections/ma_practice_2.pdf" href="#">Практика (рукописные 2021 г.) - Минаева О.Н.</a></li>
                    <li><a class="link" data-href-file="/static/lections/ma_antidemidovich.pdf" href="#">Полный Антидемидович</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div>
    </div>
    <div class="">
        <h3> 1 Семестр</h3>
        <ul>
            <li>
                <a href="#" class="drop-locator">
                    <i class="bi bi-caret-down"></i>
                    <i class="bi bi-caret-up"></i>
                    <span class="drop-h">Математический анализ</span>
                </a>
                <ul class="drop rounded-list">
                    <li><a class="link" data-href-file="/static/lections/ma_lections_sem1.pdf" href="#">Лекции (рукописные 2020 г.) - Минаева О.Н.</a></li>
                    <li><a class="link" data-href-file="/static/lections/ma_practice_1.pdf" href="#">Практика (рукописные 2021 г.) - Минаева О.Н.</a></li>
                    <li><a class="link" data-href-file="/static/lections/ma_antidemidovich.pdf" href="#">Полный Антидемидович</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="drop-locator">
                    <i class="bi bi-caret-down"></i>
                    <i class="bi bi-caret-up"></i>
                    <span class="drop-h">Механика</span>
                </a>
                <ul class="drop rounded-list">
                    <li><a class="link" data-href-file="/static/lections/Mekhanika.pdf" href="#">Лекции (рукописные 2020 г.) - Грибова Е.З.</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div>
        <h3> УНЭ</h3>
            <li>
                <a href="#" class="drop-locator">
                    <i class="bi bi-caret-down"></i>
                    <i class="bi bi-caret-up"></i>
                    <span class="drop-h">Презентации</span>
                </a>
                <ul class="drop rounded-list">
                    <li><a class="link" data-href-file="/static/lections/une_puzyrki_konets.pptx" href="#">Акустика сред с пузырьками</a></li>
                    <li><a class="link" data-href-file="/static/lections/une_principi_v_optike.pdf" href="#">Принципы построения изображений в оптике</a></li>
                    <li><a class="link" data-href-file="/static/lections/une_mikrovolnovaya_spectroscopia.ppt" href="#">Микроволновая спектроскопия</a></li>
                </ul>
            </li>
    </div>
    <div class="preview">
        <embed id="preview" src="{% static 'laboratories/lc_filters4.pdf' %}" width="700px" height="700px"/>
    </div>
</div>
{% endblock %}

{% block js %}
<script src="/static/javaScript/labs.js">
</script>
{% endblock %}


