{% extends 'layout.html' %}
{% load static %}
{% block title %} Лекции {% endblock %}
{% block style %}<link rel="stylesheet" type="text/css" href="{% static 'style/labs.css' %}">{% endblock %}
{% block content %}
<div class="labs">
    <div>
        <h3> 4 Семестр</h3>
        <ul>
            <li>
                <a href="#" class="drop-locator">
                    <i class="bi bi-caret-down"></i>
                    <i class="bi bi-caret-up"></i>
                    <span class="drop-h">Теория вероятностей</span>
                </a>
                <ul class="drop rounded-list">
                    <li><a class="link" data-href-file="/static/lections/terver_lections.pdf" href="#">Лекции (рукописные 2022 г.) - Дубков А.А.</a></li>
                    <li><a class="link" data-href-file="/static/lections/terver_practice.pdf" href="#">Практика + Решение некоторых задач - (рукописные 2022 г.) - Дубков А.А.</a></li>
                    <li><a class="link" data-href-file="/static/lections/terver_gavrilin.pdf" href="#">Задачник - Гаврилин А.Т. / Дубков А.А.</a></li>
                    <li><a class="link" data-href-file="/static/lections/terver_questions.doc" href="#">Вопросы к экзамену (2022 г.)</a></li>
                    <li><a class="link" data-href-file="/static/lections/terver_basic_formulas.pdf" href="#">Основные формулы для экзамена</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="drop-locator">
                    <i class="bi bi-caret-down"></i>
                    <i class="bi bi-caret-up"></i>
                    <span class="drop-h">Методы математической физики</span>
                </a>
                <ul class="drop rounded-list">
                        <li><a class="link" data-href-file="/static/lections/mmf_lections_smirnov.pdf" href="#">Лекции для РФ - Смирнов И.П.</a></li>
                        <li><a class="link" data-href-file="/static/lections/mmf_program_lections.pdf" href="#">Программа лекций - Солдатов И.Н.</a></li>
                        <li><a class="link" data-href-file="/static/lections/mmf_uchebnik_vladimirov.pdf" href="#">Учебник по ММФ - Владимиров В.С.</a></li>
                        <li><a class="link" data-href-file="/static/lections/mmf_zadachnik_vladimirov.pdf" href="#">Задачник - Владимиров В.С.</a></li>
                        <li><a class="link" data-href-file="/static/lections/mmf_questions.pdf" href="#">Вопросы к экзамену (2022 г.) - Солдатов И.Н.</a></li>
                        <li><a class="link" data-href-file="/static/lections/mmf_otveti.pdf" href="#">Ответы на вопросы (рукописные 2022 г.)</a></li>
                        <li><a class="link" data-href-file="#" href="https://youtube.com/playlist?list=PLcsjsqLLSfNBxv7zAg_RQoAP9MAIZpCwz">Лучше смотреть по практике (часть 1) - Горицкий А.Ю.</a></li>
                        <li><a class="link" data-href-file="#" href="https://youtube.com/playlist?list=PLcsjsqLLSfNDc7MN2eCm1r54x_WspgAze">Лучше смотреть по практике (часть 2) - Горицкий А.Ю.</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="drop-locator">
                        <i class="bi bi-caret-down"></i>
                        <i class="bi bi-caret-up"></i>
                        <span class="drop-h">Интегралы, зависящие от параметра</span>
                </a>
                <ul class="drop rounded-list">
                        <li><a class="link" data-href-file="/static/lections/intparam_lections.pdf" href="#">Лекции (рукописные 2022 г.) - Дубков А.А.</a></li>
                        <li><a class="link" data-href-file="/static/lections/intparam_practice.pdf" href="#">Практика (2022 г.) - Дубков А.А.</a></li>
                        <li><a class="link" data-href-file="/static/lections/intparam_laplas.pdf" href="#">Методичка по преобразованию Лапласа - Дубков А.А.</a></li>
                        <li><a class="link" data-href-file="/static/lections/intparam_zachet.pdf" href="#">Задачи с зачёта (2022 г.) - Дубков А.А.</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="drop-locator">
                        <i class="bi bi-caret-down"></i>
                        <i class="bi bi-caret-up"></i>
                        <span class="drop-h">Теоретическая механика</span>
                </a>
                <ul class="drop rounded-list">
                        <li><a class="link" data-href-file="/static/lections/termeh_lections.pdf" href="#">Лекции (рукописные 2022 г.) - Канаков О.И.</a></li>
                        <li><a class="link" data-href-file="/static/lections/termeh_practice.pdf" href="#">Практика (2022 г.) - Канаков О.И.</a></li>
                        <li><a class="link" data-href-file="/static/lections/termeh_metodichka.pdf" href="#">Методичка (по которой читают лекции) - Канаков О.И.</a></li>
                        <li><a class="link" data-href-file="/static/lections/termeh_plan.doc" href="#">Учебный план (+ вопросы к экзамену 2022 г.) - Канаков О.И.</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="drop-locator">
                    <i class="bi bi-caret-down"></i>
                    <i class="bi bi-caret-up"></i>
                    <span class="drop-h">Методы математической физики</span></a>
                <ul class="drop rounded-list">
                    <li><a class="link" data-href-file="/static/lections/mmf_lections_smirnov.pdf" href="#">Лекции для РФ - Смирнов И.П.</a></li>
                    <li><a class="link" data-href-file="/static/lections/mmf_program_lections.pdf" href="#">Программа лекций - Солдатов И.Н.</a></li>
                    <li><a class="link" data-href-file="/static/lections/mmf_uchebnik_vladimirov.pdf" href="#">Учебник по ММФ - Владимиров В.С.</a></li>
                    <li><a class="link" data-href-file="/static/lections/mmf_zadachnik_vladimirov.pdf" href="#">Задачник - Владимиров В.С.</a></li>
                    <li><a class="link" data-href-file="/static/lections/mmf_questions.pdf" href="#">Вопросы к экзамену (2022 г.) - Солдатов И.Н.</a></li>
                    <li><a class="link" data-href-file="/static/lections/mmf_otveti.pdf" href="#">Ответы на вопросы (рукописные 2022 г.)</a></li>
                    <li><a class="" data-href-file="#" href="https://youtube.com/playlist?list=PLcsjsqLLSfNBxv7zAg_RQoAP9MAIZpCwz">Лучше смотреть по практике (часть 1) - Горицкий А.Ю.</a></li>
                    <li><a class="" data-href-file="#" href="https://youtube.com/playlist?list=PLcsjsqLLSfNDc7MN2eCm1r54x_WspgAze">Лучше смотреть по практике (часть 2) - Горицкий А.Ю.</a></li>
                </ul>
            </li>
        </ul>
    </div>

    <div>
        <h3> 3 Семестр </h3>
        <ul>
            <li>
                <a href="#" class="drop-locator">
                    <i class="bi bi-caret-down"></i>
                    <i class="bi bi-caret-up"></i>
                    <span class="drop-h">Теория функций комплексного переменного</span>
                </a>
                <ul class="drop rounded-list">
                    <li><a class="link" data-href-file="/static/lections/tfcp_lections.pdf" href="#">Лекции (рукописные 2021 г.) - Лапинова C.А.</a></li>
                    <li><a class="link" data-href-file="/static/lections/tfcp_practice.pdf" href="#">Практика (рукописные 2021 г.) - Лапинова C.А.</a></li>
                    <li><a class="link" data-href-file="http://read.newlibrary.ru/read.php/pdf=15234" href="#">Учебник (по которому читают лекции) - ТФКП Свешников А.Г. / Тихонов А.Н.</a></li>
                    <li><a class="link" data-href-file="/static/lections/tfcp_ryadi_semerikova.pdf" href="#">Методичка по рядам - Семерикова Н.П.</a></li>
                    <li><a class="link" data-href-file="/static/lections/tfcp_vicheti_semerikova.pdf" href="#">Методичка по вычетам - Семерикова Н.П.</a></li>
                    <li><a class="link" data-href-file="/static/lections/tfcp_exam.pdf" href="#">Задачи с экзамена (2021 г.) - Лапинова С.А.</a></li>
                    <li><a class="link" data-href-file="/static/lections/tfcp_questions.doc" href="#">Вопросы к экзамену (2021 г.) - Лапинова С.А.</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="drop-locator">
                    <i class="bi bi-caret-down"></i>
                    <i class="bi bi-caret-up"></i>
                    <span class="drop-h">Векторный и тензорный анализ</span>
                </a>
                 <ul class="drop rounded-list">
                    <li><a class="link" data-href-file="/static/lections/vta_lections.pdf" href="#">Лекции (рукописные 2021 г.) - Дубков А.А</a></li>
                    <li><a class="link" data-href-file="/static/lections/vta_lections_distance.pdf" href="#">Лекции (половина дистанционных 2021 г.) - Дубков А.А.</a></li>
                    <li><a class="link" data-href-file="/static/lections/vta_lections_distance.pdf" href="#">Лекции (пособие) - Кошелев В.Н.</a></li>
                    <li><a class="link" data-href-file="/static/lections/vta_practice.pdf" href="#">Практика (рукописные 2021 г.) - Дубков А.А.</a></li>
                    <li><a class="link" data-href-file="/static/lections/vta_metodichka_koshelev.pdf" href="#">Методичка - Кошелев В.Н.</a></li>
                    <li><a class="link" data-href-file="/static/lections/vta_metodichka_tenzori.pdf" href="#">Методичка по тензорам - Кошелев В.Н.</a></li>
                    <li><a class="link" data-href-file="/static/lections/vta_exams.doc" href="#">Вопросы к экзамену (2021 г.) - Дубков А.А.</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="">
        <h3> 2 Семестр</h3>
        <ul>
            <li>
                <a href="#" class="drop-locator">
                    <i class="bi bi-caret-down"></i>
                    <i class="bi bi-caret-up"></i>
                    <span class="drop-h">Молекулярная физика</span>
                </a>
                <ul class="drop rounded-list">
                    <li><a class="link" data-href-file="/static/lections/molekular_lections.pdf" href="#">Лекции (рукописные 2021 г.) - Бакунов М.И.</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div>
    </div>
    <div class="preview">
        <embed id="preview" src="{% static 'laboratories/lc_filters4.pdf' %}" width="700px" height="700px"/>
    </div>
</div>
{% endblock %}

{% block js %}
<script src="/static/javaScript/labs.js">
</script>
{% endblock %}


